/* media for mobile devices */
@media (max-width:767px){
    /* ------navbar page------ */
    .nav-center{
        display: none;
    }
    .bars{
        display: block;
        color: red;
    }
    /* -----technology----- */
    .technology{
        flex-direction: column-reverse;
        margin-top: 10px;
        padding: 20px 0;
        gap: 50px;
    }
    .tech-left{
        width: 100%;
    }
    .tech-left h1{
    font-size: 38px;
    line-height: 120%;
    }
    .tech-left p{
        font-size: 16px;
        margin: 15px 0;
    }
    .tech-right{
        width: 100%;
    }
    .tech-right-img{
        width: 100%;
        height: auto;
    }
    /* ----- about page ----- */
    .bg-about{
        margin-top: 60px;
        padding: 20px 0;
    }
    .about{
        flex-wrap: wrap;
        gap: 20px;
    }
    .about-left, .about-right{
        width: 100%;
    }
    .about-left-img{
        width: 90%;
        margin: 0 auto;
        height: auto;
    }
    .about-right{
        padding: 15px 0;
    }
    .about-right h1{
        font-size: 28px;
        margin-bottom: 16px;
    }
    /* ----- product page ----- */
    .product{
        margin-top: 46px;
    }
    .product-content{
        flex-direction: column;
    }
    .product-item{
        width: 100%;
        padding: 24px 0;
    }
    /* ----- contact page ----- */
    .contact{
        margin-top: 40px;
    }
    .contact-content{
        flex-direction: column;        
    }
    .con-item2{
        margin-top: 30px;
    }
}
/*  media for tablet devices */
@media(min-width:768px) and (max-width:1023px){
    /* ------navbar page------ */
    nav{
        justify-content: space-around;
    }
    .nav-center{
        display: none;
    }
    .bars{
        display: block;
        color: red;
    }
    .technology{
        flex-direction: column-reverse;
        margin-top: 10px;
        padding: 20px 0;
        gap: 50px;
    }
    .tech-left{
        width: 80%;
        margin: 0 auto;
    }
    .tech-left h1{
    font-size: 38px;
    line-height: 120%;
    }
    .tech-left p{
        font-size: 16px;
        margin: 15px 0;
    }
    .tech-right{
        width: 50%;
        margin: 0 auto;
    }
    .tech-right-img{
        width: 100%;
        height: auto;
    }
    /* ----- about page ----- */
    .bg-about{
        margin-top: 60px;
        padding: 20px 0;
    }
    .about{
        flex-wrap: wrap;
        gap: 20px;
    }
    .about-left, .about-right{
        width: 80%;
        margin:  0 auto;
    }
    .about-left-img{
        width: 50%;
        margin: 0 auto;
        height: auto;
    }
    .about-right{
        padding: 15px 0;
    }
    .about-right h1{
        font-size: 28px;
        margin-bottom: 16px;
    }
    /* ----- product page ----- */
    .product{
        margin-top: 46px;
    }
    .product-content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .product-item{
        width: 45%;
        margin: 0;
        padding: 24px 0;
    }
    .product-item p{
        width: 80%;
        margin-bottom: 15px;
    }
    /* ----- contact page ----- */
    .contact{
        margin-top: 40px;
    }
    .contact-content{
        justify-content: center;        
    }
}